* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #0e0e0e;
    color: #f0efef;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

main {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;

    .card {
        transform-style: preserve-3d;
        
        width: 100%;
        max-width: 300px;
        padding: 1rem;
        border: 5px solid rgba(255, 255, 255, 0);
        border-radius: 1rem;
        margin: 10px;
        box-shadow: 0 0 0px #b82e13;


        h1 {
            margin-top: .5rem;
            text-align: center;
        }

        p {
            text-align: center;
        }

        img {
            width: 100%;
            object-fit: cover;
            object-position: top;
            transition: all 300ms linear;
        }

        transition: all 300ms linear;
    }

    .card:hover {
        box-shadow: 0 0 50px #dc3a0d;
        text-shadow: 0 0 10px beige;
        border: 5px solid rgba(8, 15, 109, 0);
        background: 
        linear-gradient(black, black) padding-box,
        conic-gradient(from var(--rotate),black,#f52a06,black) border-box;
        animation: rotateBg 3s linear infinite;
        transform: rotateX(20deg);

        img {
            transform: rotateX(-20deg) translateZ(80px);
        }
    }

    @keyframes rotateBg {
        from {
            --rotate: 0deg
        }

        to {
            --rotate: 359deg;
        }
    }
}